{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Profile{% endblock %}

<!-- Benefits of the Django application -->
{% block container %}

<div class="container text-page">
  <div class="row">
    <div class="col-sm-12">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2> Report generation </h2>
	            </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3><strong> Data files </strong></h3>
	            </div>
	            <div class="panel-body">
	                 <!-- List of uploaded data_files -->
                    {% if data_files %}
                        <ul>
                            {% for data_file in data_files %}
                                <li>
                                    <a href="{{ data_file.data_file.url }}">{{ data_file.filename }}</a>  -
                                    <a href="{% url 'delete_datafile' data_file.pk %}"> Delete</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>No data files.</p>
                    {% endif %}
	            </div>
             </div>

            <div class="panel panel-default">
	            <div class="panel-body">
	                <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ data_file_form.as_p }}
                        <button name="upload_file" type="submit" class="btn btn-default">Upload</button>
                    </form>
	            </div>
             </div>

            <form method="post">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><strong>Columns</strong></h3>
                    </div>
                    <div class="panel-body">
                        {% csrf_token %}
                        {% for value, text in columns_form.columns.field.choices %}
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-primary active">
                               <input id="id_columns_{{ forloop.counter0 }}" name="{{ columns_form.columns.name }}" type="checkbox" value="{{ value }}"
                                   {% if value in checked_columns %} checked="checked" {% endif %}> {{ text }}
                            </label>
                         </div>
                        {% endfor %}

                    </div>
                 </div>
                 <div class="panel panel-default">
                    <div class="panel-body">
                     <input type="submit" name="generate_report" value="Generate report" class="btn btn-success">
                    </div>
                 </div>
            </form>
            </div>
        </div>
    </div>
  </div>
</div>

{% endblock %}


